$active-color: #1f2d61;
$inactive-color: #dddccd;

.menu {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	gap: 0.25em;
	padding: 1em 1em 2em 1em;
	.active {
		color: $active-color;
	}
	.inactive {
		color: $inactive-color;
	}
	a {
		font-size: 2em;
	}
}
