$bg_weather: #f3efec;
$font_color: #1f2d61;
$icon_meta_color: #8da5c7;

.home {
	display: flex;
	flex-direction: column;
	gap: 2em;
	.header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		.details {
			display: flex;
			flex-direction: column;
			gap: 0.5em;
			.cityName {
				font-family: popins_regular;
				color: $font_color;
				font-size: 1.5em;
			}
			.temp {
				font-family: popins_medium;
				font-size: 4em;
				color: $font_color;
			}
			.weather {
				font-family: popins_regular;
				align-self: center;
				color: $font_color;
				span {
					padding: 0 0.5em;
					background-color: $bg_weather;
					border-radius: 24px;
					font-size: 1.5em;
				}
			}
		}
	}
	.meta {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		div {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 1em;
		}
	}
	.sunsetHour {
		display: flex;
		flex-direction: column;
		gap: 0.5em;
		.icon {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
		img {
			width: calc(100% + 4em);
			margin-left: -2em;
		}
	}
	.nextWeather {
		display: flex;
		flex-direction: column;
		gap: 1em;
		.nextHours {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			.byHours {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
		}
	}
	.nextWeeklyWeather {
		display: flex;
		flex-direction: column;
		.byDay {
			justify-content: space-around;
			display: flex;
			.minMax {
				display: flex;
				gap: 1em;
			}
		}
	}
}
