// Font loadding
@font-face {
	font-family: popins_regular;
	src: url(./ressources/fonts/Poppins-Regular.ttf);
}
@font-face {
	font-family: popins_light;
	src: url(./ressources/fonts/Poppins-Light.ttf);
}
@font-face {
	font-family: popins_medium;
	src: url(./ressources/fonts/Poppins-Medium.ttf);
}

:root {
	font-family: popins_regular;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	padding: 0;
}

// Color setting

// Test
$bg-test: red;
